﻿@model VenueVM

@using (Html.BeginForm("create_venue", "VenueOptions", FormMethod.Post))
{
    <fieldset>
        <legend>@Localizer["Add venue"]</legend>

        <div class="editor-label">
            <p>@Localizer["Select a city:"]</p>
        </div>
        <div class="editor-field">
            <select id="city" name="CityID">
                @foreach (var i in ViewBag.Cities)
                {
                    <option value="@i.ID">@i.Name</option>
                }
            </select>
        </div>

        <div class="editor-label">
            <p>@Localizer["Venue name:"]</p>
        </div>
        <div class="editor-field">
            <input type="text" asp-for="Name" />
        </div>

        <div class="editor-label">
            <p>@Localizer["Venue address:"]</p>
        </div>
        <div class="editor-field">
            <input type="text" asp-for="Address" />
        </div>

        <div class="accButton">
            <input type="submit" value="@Localizer["Add"]" class="button" />
        </div>
    </fieldset>

}


@section Footer {
    ticket@ticket.by
}
