﻿@model VenueVM
@using (Html.BeginForm("delete_venue", "VenueOptions", FormMethod.Post))
{
    <fieldset>
        <legend>@Localizer["Delete venue"]</legend>

        <div class="editor-label">
            <p>@Localizer["Select a city:"]</p>
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityID", ViewBag.Cities as SelectList, new { id = "city" })
        </div>

        <div class="editor-label">
            <p>@Localizer["Select a venue:"]</p>
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID", ViewBag.Venues as SelectList, new { id = "venue" })
        </div>
        <input type="hidden" asp-for="ID"/>

        <div class="accButton">
            <input type="submit" value="@Localizer["Delete"]" class="button" />
        </div>
        </fieldset>
 }

@section Footer {
    ticket@ticket.by
}

<script>
    $(function () {
        $('#city').change(function () {
            var id = $(this).val();
            $.ajax(
                {
                    type: 'GET',
                    url: 'VenuesGet/' + id,
                    success: function (data) {
                        $('#venue').replaceWith(data);
                    }
                });
        });
    }
    )
</script>
