﻿@model VenueVM

@using (Html.BeginForm("update_venue_result", "VenueOptions", FormMethod.Post))
{
    <fieldset>
        <legend>@Localizer["Update venue"]</legend>

        <div class="editor-label">
            <p>@Localizer["Old name:"] - @Model.Name</p>
            <p>@Localizer["New Name:"]</p>
        </div>
        <div class="editor-field">
            <input type="text" asp-for="Name" />
        </div>

        <div class="editor-label">
            <p>@Localizer["Old address:"] - @Model.Address</p>
            <p>@Localizer["New address:"]</p>
        </div>
        <div class="editor-field">
            <input type="text" asp-for="Address" />
        </div>
        <input type="hidden" asp-for="ID"/>

        <div class="accButton">
            <input type="submit" value="@Localizer["Update"]" class="button" />
        </div>

     </fieldset>
}


@section Footer {
    ticket@ticket.by
}
