﻿@model  EventVM

@using (Html.BeginForm("create_event", "EventOptions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>@Localizer["Add event"]</legend>

        <div class="editor-label">
            <p>@Localizer["Event name:"]</p>
        </div>
        <div class="editor-field">
            <input type="text" asp-for="Name"/>
        </div>

        <div class="editor-label">
            <p>@Localizer["Event date:"]</p>
        </div>
        <div class="editor-field">
            <input type="date" asp-for="Date"/>
        </div>

        <div class="editor-label">
            <p>@Localizer["Event description:"]</p>
        </div>
        <div class="editor-field">
            <textarea asp-for="Description" rows="6" cols="40"></textarea>
        </div>

        <div class="editor-label">
            <p>@Localizer["Event city:"]</p>
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityID", ViewBag.Cities as SelectList, new { id = "city" })         
        </div>

        <div class="editor-label">
            <p>@Localizer["Event venue:"]</p>
        </div>
        <div class="editor-field">
            @Html.DropDownList("VenueID", ViewBag.Venues as SelectList, new { id = "venue"})
        </div>

        <div class="editor-label">
            <p>@Localizer["Add image:"]</p>
        </div>
        <div class="editor-field">
            <input type="file" name="downloadableFile" />
        </div>
        <div class="editor-label">
            <p>@Localizer["Count tickets:"]</p>
        </div>
        <div class="editor-field">
            <input type="text" name="countTickets" />
        </div>

            <div class="accButton">
                <input type="submit" value="@Localizer["Add"]" class="button" />
            </div>
</fieldset>
}

@section Footer {
    ticket@ticket.by
}

<script>
    $(function () {
        $('#city').change(function () {
            var id = $(this).val();
            $.ajax(
                {
                    type: 'GET',
                    url: 'VenueOptions/GetVenues/'+id,
                    success: function (data) {
                        $('#venue').replaceWith(data);
                    }
                });
        });
    }
    )
</script>
