﻿@model  EventVM

@using (Html.BeginForm("delete_event", "EventOptions", FormMethod.Post))
{
    <fieldset>
        <legend>@Localizer["Delete event"]</legend>

        <div class="editor-label">
            <p>@Localizer["Event city:"]</p>
        </div>
        <div class="editor-field">
            <select name="CityID" id="city">
                @foreach (var i in ViewBag.Cities)
                {
                    <option value="@i.ID">@i.Name</option>
                }
            </select>
        </div>

        <div class="editor-label">
            <p>@Localizer["Event:"]</p>
        </div>
        <div class="editor-field">
            <select id="event" name="ID">
                @foreach (var i in ViewBag.Events)
                {
                    <option value="@i.ID">@i.Name</option>
                }
            </select>
        </div>

        <div class="accButton">
            <input type="submit" value="@Localizer["Delete"]" class="button" />
        </div>
    </fieldset>
}

@section Footer {
    ticket@ticket.by
}

<script>
    $(function () {
        $('#city').change(function () {
            var id = $(this).val();
            $.ajax(
                {
                    type: 'GET',
                    url: '@Url.Content("GetEvents")/'+id,
                    success: function (data) {
                        $('#event').replaceWith(data);
                    }
                });
        });
    }
    )
</script>
