﻿
@model EventUpdateVM

@using (Html.BeginForm("update_event_result", "EventOptions", FormMethod.Post))
{
    <fieldset>
        <legend>@Localizer["Update event"]</legend>

        <div class="editor-label">
            <p>@Localizer["Event city:"]</p>
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityID", ViewBag.Cities as SelectList, new { id = "city" })          
        </div>

        <div class="editor-label">
            <p>@Localizer["Venue:"]</p>
        </div>
        <div class="editor-field">
            @Html.DropDownList("VenueID", ViewBag.Venues as SelectList, new { id = "venue" })
        </div>

        <div class="editor-label">      
            <p>@Localizer["Old name:"] - @Model.Name</p>
            <p>@Localizer["New Name:"]</p>
        </div>
        <div class="editor-field">
           <input type="text" asp-for="Name"/>
        </div>

        <div class="editor-label">
            <p>@Localizer["Old event description:"]</p>
            <p>@Model.Description</p>
            <p>@Localizer["Event description:"]</p>
        </div>
        <div class="editor-field">
            <textarea asp-for="Description" rows="6" cols="40"></textarea>
        </div>
        <input type="hidden" asp-for="ID" />

        <div class="accButton">
            <input type="submit" value="@Localizer["Update"]" class="button" />
        </div>
    </fieldset>
}

@section Footer {
    ticket@ticket.by
}

<script>
    $(function () {
        $('#city').change(function () {
            var id = $(this).val();
            $.ajax(
                {
                    type: 'GET',
                    url: 'VenueOptions/GetVenues/' + id,
                    success: function (data) {
                        $('#venue').replaceWith(data);
                    }
                });
        });
    }
    )
</script>