﻿@model UserVM

<div class="content">
    <h3>User Information:</h3>
    <p>@Model.FirstName @Model.LastName</p>
    <p>@Localizer["Nick"]: @Model.Nick <span> | </span></p>
    <p>@Localizer["Phone"]: @Model.PhoneNumber  <span> | </span>@Html.Partial("changePhone")</p>
    <p>@Localizer["Address"]: @Model.Address  <span> | </span>@Html.Partial("changeAddress")</p>
    @Html.Partial("changePassword")
</div>


@section Footer {
    ticket@ticket.by
}
