﻿<p class="change" id="pswChange">@Localizer["Change password"]</p>

@using (Html.BeginForm("changePassword", "User", FormMethod.Post))
{

    @Html.Hidden("newPassword");
    <input type="hidden" value="@Localizer["Change"]" class="button" id="buttonPsw" />
}

<script>
    $(function () {
        $('#pswChange').click(function () {
            document.getElementById('newPassword').type = 'password';
            document.getElementById('buttonPsw').type = 'submit';
        });
    }
   )

</script>