﻿<span class="change" id="addressChange">@Localizer["change address"]</span>

@using (Html.BeginForm("changeAddress", "User", FormMethod.Post))
{

    @Html.Hidden("newAddress");
    <input type="hidden" value="@Localizer["Change"]" class="button" id="buttonAddress" />
}

<script>
    $(function () {
        $('#addressChange').click(function () {
            document.getElementById('newAddress').type = 'text';
            document.getElementById('buttonAddress').type = 'submit';
        });
    }
   )
</script>