﻿<span class="change" id="phoneChange">@Localizer["change phone"]</span>

@using (Html.BeginForm("changePhone", "User", FormMethod.Post))
{

    @Html.Hidden("newPhone");
    <input type="hidden" value="@Localizer["Change"]" class="button" id="buttonPhone" />
}

<script>
    $(function () {
        $('#phoneChange').click(function () {
            document.getElementById('newPhone').type = 'text';
            document.getElementById('buttonPhone').type = 'submit';
        });
    }
   )
</script>