﻿<span class="change" id="nickChange">@Localizer["change nick"]</span>

@using (Html.BeginForm("changeNick", "User", FormMethod.Post))
{

    @Html.Hidden("newNick");
    <input type="hidden" value="@Localizer["Change"]" class="button" id="buttonNick" />
}

<script>
    $(function () {
        $('#nickChange').click(function () {
            document.getElementById('newNick').type = 'text';
            document.getElementById('buttonNick').type = 'submit';
        });
    }
   )
</script>
