﻿@model UserVM

            <div class="content">
                <h3>User Information:</h3>
                <p class="description">@Localizer["Name"]: @Model.FirstName, @Model.LastName</p>
                <p class="description">@Localizer["Nick"]: @Model.Nick</p>
                <p class="description">@Localizer["Phone"]: @Model.PhoneNumber</p>
                <p class="description">@Localizer["Address"]: @Model.Address</p>
            </div>
       

@section Footer {
    ticket@ticket.by
}
