﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>Tickets Resailing</title>
 
</head>
<body>
   
    <div class="wrapper">     
        <header>
            <img class="logo" src="~/images/Logo.png" height="100" />
            <div class="pHeader">
                <p class="headerText">@Localizer["Address: Gomel, Pushkina 5"]</p>
                <p class="headerText">@Localizer["Tel: 232-32-32"]</p>
            </div>
            <div class="user">
            @if (User.Identity.IsAuthenticated)
            {
               <span>@User.Identity.Name</span> 
            }
            else
            {
                <span>Guest</span>
            }
           </div>
        </header>
        <div id="menu">
            @if (User.Identity.IsAuthenticated)
            {
                <ul>
                    <li><a asp-controller="User" asp-action="AccountOptions">@Localizer["My account"]</a></li>
                    <li><a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
                    <li><a asp-controller="Ticket" asp-action="UserTickets">@Localizer["By ​​tickets"]</a></li>
                    <li><a asp-controller="Ticket" asp-action="UserOrders">@Localizer["My Orders"]</a></li>
                    <li><a asp-controller="Ticket" asp-action="TicketsStart">@Localizer["My Tickets"]</a></li>
                    <li><a asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="Admin" asp-action="AdminOptions">@Localizer["Admin options"]</a></li>
                        <li><a asp-controller="Admin" asp-action="optionAddOrDeleteAdmin">@Localizer["Option to add admin"]</a></li>
                    }
                </ul>

            }
            else
            {
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
                    <li><a asp-controller="Account" asp-action="Login">@Localizer["Login"]</a></li>
                    <li><a asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
                </ul>
            }
        </div>

        <div class="content">
            @RenderBody()
        </div>
             <div class="footer">                 
                
                 @RenderSection("Footer", false)

             </div>
       
    </div>
    
</body>
</html>


