﻿@model List<TicketVM>
@using (Html.BeginForm("ticketForSale", "Ticket", FormMethod.Post))
{
    <fieldset>
        <legend>@Localizer["Select the tickets to be sent for sale"]</legend>
       
        @for (int i = 0; i < Model.Count; i++)
        {
        <div class="event">
            <p>@Localizer["Event"]: @Model[i].Event, Cost: @Model[i].Price</p>
            @Html.CheckBox("[" + @i + "].Availability", Model[i].ForSale)
            @Html.Hidden("[" + @i + "].Price", @Model[i].Price)
            @Html.Hidden("[" + @i + "].SellerID", @Model[i].SellerID)
            @Html.Hidden("[" + @i + "].EventID", @Model[i].EventID)
            @Html.Hidden("[" + @i + "].Price", @Model[i].Price)
            @Html.Hidden("[" + @i + "].ID", Model[i].ID)
        </div>
        }
        <div >
            <input type="submit" value="Sent" class="fixButton"/>
        </div>
     </fieldset>
}
@section Footer {
    ticket@ticket.by
}