﻿@model List<TicketVM>

        <h2>Tickets:</h2>

        @using (Html.BeginForm("Buy", "Ticket", FormMethod.Post))
        {
            var mbox = Model;

            for (int i = 0; i < mbox.Count; i++)
            {
                <div class="event">
                    <p>Cost: @Model[i].Price, Seller: @Model[i].Seller</p>
                    @Html.CheckBox("[" + @i + "].ForSale", Model[i].ForSale)
                    @Html.Hidden("[" + @i + "].Price", @Model[i].Price)
                    @Html.Hidden("[" + @i + "].SellerID", @Model[i].SellerID)
                    @Html.Hidden("[" + @i + "].EventID", @Model[i].EventID)
                    @Html.Hidden("[" + @i + "].Seller", @Model[i].Seller)
                    @Html.Hidden("[" + @i + "].Price", @Model[i].Price)
                    @Html.Hidden("[" + @i + "].Availability", @Model[i].Availability)
                    @Html.Hidden("[" + @i + "].ID", Model[i].ID)
                </div>
            }
           
                <div>
                    <input type="submit" value="Buy" class="fixButton" />
                </div>

        }
@section Footer {
    ticket@ticket.by
}