﻿@model TicketCountVM

            <h3>@Model.Event.Name</h3>
            <p>@Model.Event.City, @Model.Event.Venue</p>
            <p>@Model.Event.Date.ToString("dd.MM")</p>
            <p>@Model.Event.Description</p>

            <h2>Ticket Information:</h2>

            @foreach (var i in Model.PriceAndCount)
            {
                <div class="event">
                    <p>@Localizer["Cost"]:  @i.Key</p>
                    <p>@Localizer["Count"]:  @i.Value</p>
                    @using (Html.BeginForm("TicketsForOrder", "Ticket", FormMethod.Post))
                   {
                        @Html.Hidden("price", @i.Key)
                        @Html.Hidden("eventId", Model.Event.ID)

                        if (User.Identity.IsAuthenticated)
                        {
                        <input type="submit" value="Order"  class="orderButton" />
                        }
                    }
                    <hr />
                </div>

            }


@section Footer {
    ticket@ticket.by
}