﻿@model List<TicketVM>

            <table border="1">
                <tr>
                    <th>@Localizer["Event"]</th>
                    <th>@Localizer["Cost"]</th>
                    <th>@Localizer["Seller"]</th>
                    <th>@Localizer["Status"]</th>
                    <th>@Localizer["TrackNumber / Reason"]</th>

                </tr>

                @foreach (TicketsApplication.Models.TicketVM i in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => i.Event)
                        </td>
                        <td>
                            @Html.DisplayFor(m => i.Price)
                        </td>
                        <td>
                            <p> @Html.RouteLink(@i.Seller, new { Controller = "User", Action = "UserInformation", nick = @i.Seller }, new { @class = "userLink" })</p>
                        </td>
                        <td>
                            @Html.DisplayFor(m => i.OrderStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(m=>i.AnswerText)
                        </td>
                    </tr>
                }

            </table>
@section Footer {
    ticket@ticket.by
}