﻿@model List<TicketVM>

@using (Html.BeginForm("change_order_status", "Ticket", FormMethod.Post))
{
            <table border="1">
                <tr>
                    <th>@Localizer["Event"]</th>
                    <th>@Localizer["Cost"]</th>
                    <th>@Localizer["Buyer"]</th>
                    <th>@Localizer["Status"]</th>
                    <th>@Localizer["Action"]</th>

                </tr>
@for (int i = 0; i < Model.Count; i++)
{
    <tr>
        <td>
            @Html.DisplayFor(m => Model[i].Event)
        </td>
        <td>
            @Html.DisplayFor(m => Model[i].Price)
        </td>
        <td>
            @Html.RouteLink(@Model[i].Buyer, new { Controller = "User", Action = "UserInformation", nick = @Model[i].Buyer }, new { @class = "userLink" })
        </td>
        <td>
            @Html.DisplayFor(m => Model[i].OrderStatus)
        </td>
        <td>
            <p>@Localizer["Sold"]@Html.RadioButton("orderStatus" + i, i, new { @class = "sold", @id="sold"+i } ) </p>
                <p>@Localizer["Add track number"] @Html.TextBoxFor(m => Model[i].AnswerText, new { @id = "track" + i, @disabled = true })</p>   
            <p>@Localizer["Rejection"]@Html.RadioButton("orderStatus" + i, i, new { @class = "reject", @id="reject"+i })</p>
            <p>@Localizer["Reject reason"] @Html.TextBoxFor(m => Model[i].AnswerText, new { @id = "reason" + i, @disabled = true })</p>     
        </td>

    </tr>
    @Html.Hidden("[" + @i + "].Price", @Model[i].Price)
    @Html.Hidden("[" + @i + "].SellerID", @Model[i].SellerID)
    @Html.Hidden("[" + @i + "].EventID", @Model[i].EventID)
    @Html.Hidden("[" + @i + "].Seller", @Model[i].Seller)
    @Html.Hidden("[" + @i + "].Price", @Model[i].Price)
    @Html.Hidden("[" + @i + "].Availability", @Model[i].Availability)
    @Html.Hidden("[" + @i + "].ID", Model[i].ID)
    @Html.Hidden("[" + @i + "].OrderStatus", "seiling", new { id = "sentOrderStatus"+i })
    @Html.Hidden("["+@i+"].BuyerID", Model[i].BuyerID)
}
            </table>

            <div>
                <input type="submit" value="@Localizer["Change status"]" class="button" />
            </div>
}
@section Footer {
    ticket@ticket.by
}

<script>
 
    $(function () {
        $('.sold').change(function () {
            var id = $(this).val();
            document.getElementById('sentOrderStatus' + id).value = 'sold';
            document.getElementById('track' + id).disabled=false;

        });
        $('.reject').change(function () {
            var id = $(this).val();
            document.getElementById('sentOrderStatus' + id).value = 'reject';
            document.getElementById('reason' + id).disabled = false;

        });      
    }
    )
</script>