﻿* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{position: relative;}
.wrapper{
    background: #F8F8FF;
    width: 100%;
    display: table;
    height: 98%;
    min-height: 98%;
    align-self: center;
}
.userPhoto{
    height: 200px;
    width:  250px;
}
.change{
    text-decoration: none;
    color: dimgray;
    cursor: pointer;

}
.fixButton{
 position: fixed;
 bottom:0;
 right:0;
 background: #B8902F;
 padding: 5px;
 font-size: 1.1em;
}
.orderButton{
position: absolute;
bottom: 2%;
right: 2%;
background: #B8902F;
padding: 5px;
font-size: 1.1em;
}
header{
    width: 100%;
    background: #0a154d;
    color: #b8ab53;
}
.pHeader{
    width: 40%;
    position:absolute;
    left: 40%;
    top: 8%;
}
img.logo{
    padding: 1% 0 1% 1%;
}
.user{
    width: 15%;
    font-size: 1.5em;
    float: right;
    margin-top: 4%;
    margin-right: 2%;
}
#menu{
   width: 100%;
   height: 50px;
   background: #B8902F;  
}
ul{  
    height: 50px;
    width: 100%;
}
ul li{
    padding: 1%;
    float: right;
    list-style-type: none;
    margin-right: 3%;
}
ul li a{
color: #030b32;
text-decoration: none;
font-size: 1.2em;
font-style:italic;
font-weight: bold;
}
.content {
  display: table-row;
  min-height: 100%;
}
.footer{
     background: #0a154d;
     padding: 2%;
}
.event {
    float: left;
    width: 20%;
    height: auto;
    display: inline;
    vertical-align: bottom;
    margin: 2%;
    position: relative;
}
.event img{
    width: 90%;
    height: auto;   
}
.topic {
    font-size:large;
    font-style: italic;
    color: #5763a6; 
    text-decoration: none;
}
.data{
    font-style: oblique;
}
.description{
    font-size: 0.8em;
    font-style: italic;
}
.button{
    background: #B8902F;
    padding: 5px;
    margin: 5px;
    font-size: 1.1em;
}
.footer{
    color: #b8ab53; 
}
select{   
    background: #fcf3b8;
    margin: 5px;
    font-size: 1.1em;
    font-style: oblique;
}
table{
    align-self: center;
     width: 100%;
     margin: 0;
}
a.userLink{
    color:  #030b32;
    text-decoration: none;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}
fieldset {
    border: 1px solid #0a154d;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}
.editor-label {
    margin: 1em 0 0 0;
}
.button>.accButton{
    margin-top: 10px;
}
th {
  font-size: 1.2em;
  font-weight: normal;
  background: #e0bc65;
  border-top: 4px solid #aabcfe;
  border-bottom: none;
  color: #0a154d;
  padding: 2%;
 
}
td {
  background: #ffe29a;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 2%;
}
tr:hover td {
  background: #f9d784; 
}


