﻿@model List<EventVM>

            @foreach (var i in Model)
            {
                <div class="event">
                    <h3>@Html.RouteLink(@i.Name, new { Controller = "Ticket", Action = "Tickets", id = i.ID }, new { @class = "topic" })</h3>
                    <p class="data">@i.Date.ToString("dd.MM")</p>
                    <p class="description">@i.City, @i.Venue</p>
                    <img src="@i.Banner" />
                </div>
            }
@section Footer {
@await Html.PartialAsync("_SelectLanguagePartial")
}
        
