﻿<table border="1">
    <tr>
        <th>@Localizer["Events"]</th>
        <th><a asp-controller="EventOptions" asp-action="create_event">@Localizer["Create"]</a></th>        
        <th><a asp-controller="EventOptions" asp-action="update_event">@Localizer["Update"]</a></th>
        <th><a asp-controller="EventOptions" asp-action="delete_event">@Localizer["Delete"]</a></th>
    </tr>
    <tr>
        <th>@Localizer["Venues"]</th>
        <th><a asp-controller="VenueOptions" asp-action="create_venue">@Localizer["Create"]</a></th>
        <th><a asp-controller="VenueOptions" asp-action="update_venue">@Localizer["Update"]</a></th>
        <th><a asp-controller="VenueOptions" asp-action="delete_venue">@Localizer["Delete"]</a></th>
    </tr>
    <tr>
        <th>@Localizer["Cities"]</th>
        <th><a asp-controller="Cities" asp-action="create_city">@Localizer["Create"]</a></th>
        <th><a asp-controller="Cities" asp-action="update_city">@Localizer["Update"]</a></th>
        <th><a asp-controller="Cities" asp-action="delete_city">@Localizer["Delete"]</a></th>
    </tr>
 </table>
    @section Footer {
        ticket@ticket.by
    }
