﻿@model UserVM
@using (Html.BeginForm("optionAddOrDeleteAdmin", "Admin", FormMethod.Post))
{
    <fieldset>
        <legend>@Localizer["Change role"]</legend>
        <span>@Localizer["Assign admin"] </span> <input type="radio" id="forAdmin" name="users" checked/><br />
        <span>@Localizer["Remove the admin"] </span> <input type="radio" id="forUser" name="users"/><br />
     
            <div class="editor-field">
                <select id="user" name="ID">
                    @foreach (var i in ViewBag.Users)
                   {
                        <option value="@i.ID">@i.Nick</option>
                    }
                </select>
            </div>    
        <input type="hidden" id="role" name="roleTarget" value="admin" />   

        <div class="accButton">
            <input type="submit" value="@Localizer["Change role"]" class="button" />
        </div>
        </fieldset>
 }
@section Footer {
    ticket@ticket.by
}
<script>
    $(function () {
        $('#forUser').change(function () {
            document.getElementById('role').value = 'user';
            $.ajax(
                {
                    type: 'GET',
                    url: '@Url.Content("GetAdmins")',
                    success: function (data) {
                        $('#user').replaceWith(data);
                    }
                });
        });
    }
    )

    $(function () {
        $('#forAdmin').change(function () {
            document.getElementById('role').value = 'admin';
            $.ajax(
                {
                    type: 'GET',
                    url: '@Url.Content("GetUsers")',
                    success: function (data) {
                        $('#user').replaceWith(data);
                    }
                });
        });
    }
    )
</script>