﻿@model CityVM
@using (Html.BeginForm("create_city", "Cities", FormMethod.Post))
{
    <fieldset>
        <legend>@Localizer["Add city"]</legend>

        <div class="editor-label">
            <p>@Localizer["City name:"]</p>
        </div>
        <div class="editor-field">
            <input type="text" asp-for="Name" />
        </div>
        <div class="accButton">
            <input type="submit" value="@Localizer["Add"]" class="button" />
        </div>
    </fieldset>
}

@section Footer {
    ticket@ticket.by
}