﻿@using (Html.BeginForm("delete_city", "Cities", FormMethod.Post))
{
    <div class="editor-label">
        <p>@Localizer["Select a city:"]</p>
    </div>
        <div class="editor-field">
            @Html.DropDownList("CityID", ViewBag.Cities as SelectList)
        </div>
        <div class="accButton">
            <input type="submit" value="@Localizer["Delete"]" class="button" />
        </div>
}
