﻿@model CityVM

@using (Html.BeginForm("update_city_result", "Cities", FormMethod.Post))
{
    <fieldset>
        <legend>@Localizer["Update city"]</legend>

        <div class="editor-label">
            <p>@Localizer["Old name:"] - @Model.Name</p>
            <p>@Localizer["New Name:"]</p>
        </div>
        <div class="editor-field">
            <input type="text" asp-for="Name" />
        </div>
        <input type="hidden" asp-for="ID"/>

        <div class="accButton">
            <input type="submit" value="@Localizer["Update"]" class="button" />
        </div>
    </fieldset>
 }

@section Footer {
    ticket@ticket.by
}
