﻿@using (Html.BeginForm("update_city_action", "Cities", FormMethod.Post))
{
    <div class="editor-label">
        <p>@Localizer["Select a city:"]</p>
    </div>
    <div class="editor-field">
        @Html.DropDownList("CityID", ViewBag.Cities as SelectList)
    </div>
        <div class="accButton">
            <input type="submit" value="@Localizer["Update"]" class="button" />
        </div>
}
@section Footer {
    ticket@ticket.by
}
